{% extends 'homepage/base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome to the Official JBO Site.</h1>
    </div>
      <div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {% for post in recent_posts %}
      <div class="col-md-4">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content|slice:"100" }}</p>
        <p><a class="btn btn-secondary" href="{% url 'blog:post-detail' post.slug %}" role="button">View details &raquo;</a></p>
      </div>
        {% endfor %}
    </div>
{% endblock content %}