{% extends 'homepage/base.html' %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="#" class="mr-2">{{ post.author.get_full_name }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}
                        {% for category in post.categories.all %}
                            <a href="{% url 'blog:category' category.name %}">{{ category.name }}</a>
                        {% endfor %}
                    </small>
                </div>
                <h2><a href="{% url 'blog:post-detail' post.slug %}" class="article-title">{{ post.title }}</a></h2>
                <p>
                    {% with content=post.content|striptags %}
                        {{ content|slice:"400" }}
                    {% endwith %}
                </p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}